#topHat {
	background-image: url("vaporwave.gif");
	background-color: #300350;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
	background-size: cover;
}

#hopBody {
	background-color: #94167F;
	background-repeat: no-repeat;
	height: 400%;
	
	background-position: center;
	background-size: cover;
}

#serverName {
	font-family: 'Bebas Neue', cursive;
	color: #F9AC53;
	font-size: 100px;
	text-align: center;
}

#bodyDiv, #rpgNav {
	text-align: center;
}

#homeButton, #inviteButton, #rpgButton, #mcButton {
	background-color: #F62E97;
	border: 2px solid #94167F;
	color: #94167F;
	padding: 14px 40px;
	text-align: center;
	font-size: 24px;
	border-radius: 8px;
	transition-duration: 0.4s;
	font-family: 'Roboto', sans-serif;
}

#homeButton:hover, #inviteButton:hover, #rpgButton:hover, #mcButton:hover {
	background-color: #94167F;
	color: white;
}

#mcTitle {
	text-align: center;
}

#mcServerTitle {
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	color: #E93479;
	font-size: 75px;
}

#leaf, #tree {
	color: white;
}

#mcBody, #mcRules {
	text-align: center;
	background-color: #300350;
	background-repeat: no-repeat;
	width: 700px;
	border-radius: 8px;
	padding: 14px 40px;
    margin-left: auto;
    margin-right: auto;
}

#serverInfoTitle, #rulesTitle {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
	font-size: 30px;
}

#serverInfoList, #rulesList {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: left;
	font-size: 30px;
}

#mcSpawn {
	display: block;
	background-color: #300350;
	background-repeat: no-repeat;
	border-radius: 8px;
	padding: 14px 40px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#calendar {
	text-align: center;
}